%div{class: 'row container-fluid', id: 'main-content'}
  %div{class: 'col-xs-12 col-lg-8', id: 'map-canvas'}
  %div{class: 'col-xs-12 col-lg-4', id: 'map-interactions'}
    %div{class: 'col-xs-12 panel-group row', id: 'find-event', role: 'tablist'}
      %div{class: 'panel panel-primary'}
        %div{class: 'panel-heading', role: 'tab', id: 'find-event-heading'}
          %h4{class: 'panel-title'}
            %a{role: 'button', 'data-toggle' => 'collapse', 'data-parent' => '#find-event', href: '#find-event-body'} 
              %div Find Event
        %div{id: 'find-event-body', class: 'panel-collapse collapse in', role: 'tabpanel'}
          %div{class: 'panel-body'}
            %select{class: 'form-control', placeholder: 'Eg: dystopia rising', id: 'find-event-search'}

            %div{class: 'alert alert-warning alert-dismissible'}
              %button{type: 'button', class: 'close', 'data-dismiss' => 'alert'}
                %span &times;
              For privacy consideration, please use approximate address rather than exact one. You should only discuss exact address in personal communiqué with corresponding parties.
              %hr
              %strong Example:
              Use approximate address 'Los Angeles, CA' instead of '123 W 3rd St, Los Angeles, CA'

            %ul{class: 'nav nav-tabs', role: 'tablist'}
              %li{role: 'presentation', class: 'active'}
                %a{href: '#find-ride', 'data-toggle' => 'tab', id: 'find-ride-tab'} 
                  Find Ride To
                  %input{'data-toggle' => 'toggle', 'data-on' => 'Home', 'data-off' => 'Event', 'data-onstyle' => 'primary', 'data-offstyle' => 'primary', type: 'checkbox', class: 'form-control', id: 'find-ride-switch'}
              %li{role: 'presentation'}
                %a{href: '#offer-ride', 'data-toggle' => 'tab', id: 'setup-ride-tab'} Offer Ride

            %div{class: 'tab-content'}
              %div{role: 'tabpanel', class: 'tab-pane fade in active', id: 'find-ride'}
                %input{type: 'text', class: 'form-control', placeholder: 'Enter pickup address', id: 'find-ride-address'}
                %input{type: 'text', class: 'form-control', placeholder: 'Enter pickup time', id: 'find-ride-address'}

                %button{type: 'button', class: 'btn btn-primary btn-block', id: 'find-ride-search'} Search

              %div{role: 'tabpanel', class: 'tab-pane fade', id: 'offer-ride'}
                %div{class: 'list-group', id: 'existing-ride-offers'}

                %div{class: 'trip-separator'}
                  %input{'data-toggle' => 'toggle', type: 'checkbox', class: 'form-control', id: 'offer-ride-departure'}
                  Departure

                %div{class: 'form-group'}
                  %input{type: 'text', class: 'form-control', placeholder: 'Enter starting address', id: 'offer-ride-depart-address'}
                %div{class: 'form-group'}
                  %input{type: 'text', class: 'form-control', placeholder: 'Enter departure time', id: 'offer-ride-depart-time'}

                %div{class: 'alert alert-warning', id: 'offer-ride-start-late'}
                  Your trip departs after event's start time

                %div{class: 'trip-separator'} 
                  %input{'data-toggle' => 'toggle', type: 'checkbox', class: 'form-control', id: 'offer-ride-return'}
                  Return trip

                %div{class: 'form-group'}
                  %input{type: 'text', class: 'form-control', placeholder: 'Enter return address', id: 'offer-ride-return-address'}
                %div{class: 'form-group'}
                  %input{type: 'text', class: 'form-control', placeholder: 'Enter return time', id: 'offer-ride-return-time'}

                %div{class: 'alert alert-danger', id: 'offer-ride-non-linear-time'}
                  Your return trip date is before departure date

                %div{class: 'alert alert-warning', id: 'offer-ride-leave-early'}
                  Your return trip is before event's end time

                %div{class: 'alert alert-success', id: 'offer-ride-created'}
                  Your trip offer has been created.

                %div{class: 'row bottom-added'}
                %div{class: 'pull-right'}
                  %button{type: 'button', class: 'btn btn-primary', id: 'offer-ride-create'} Setup Trip

    %div{class: 'col-xs-12 panel-group row', id: 'create-event', role: 'tablist'}
      %div{class: 'panel panel-primary'}
        %div{class: 'panel-heading', role: 'tab', id: 'create-event-heading'}
          %h4{class: 'panel-title'}
            %a{role: 'button', 'data-toggle' => 'collapse', 'data-parent' => '#create-event', href: '#create-event-body'} 
              %div Create Event
        %div{id: 'create-event-body', class: 'panel-collapse collapse in', role: 'tabpanel'}
          %div{class: 'panel-body'}
            %div{class: 'form-group'}
              %label{for: 'create-event-name'} Event Name
              %input{id: 'create-event-name', type: 'text', class: 'form-control', placeholder: 'Ex: Dystopia Rising SoCal'}
            %div{class: 'form-group'}
              %label{for: 'create-event-name'} Address (must be exact)
              %input{id: 'create-event-address', type: 'text', class: 'form-control', placeholder: 'Ex: Corona, CA'}
            %div{class: 'form-group'}
              %label{for: 'create-event-name'} Start Time
              %input{id: 'create-event-start-time', type: 'text', class: 'form-control'}
            %div{class: 'form-group'}
              %label{for: 'create-event-name'} End Time (Optional)
              %input{id: 'create-event-end-time', type: 'text', class: 'form-control'}

            %div{class: 'pull-right'}
              %button{type: 'button', class: 'btn btn-default', id: 'create-event-reset'} Reset
              %button{type: 'button', class: 'btn btn-primary', id: 'create-event-create'} Create Event!

            %div{class: 'row bottom-padded'}
            %div{class: 'alert alert-success', id: 'create-event-successful'}
              Event successfully created.
              %a{href: '#', target: '_blank'} Click to see

  %div{class: 'col-xs-12', id: 'intro'}
    %h1 Big-Ass Intro Here

:javascript
  $(function() {
    event_finder.attach();
  })
  