body {
  font-family: 'Titillium Web', sans-serif;
  overflow-x: hidden
}

.navbar {
  border-radius: 0;
}

input.form-control, .toggle {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#find-ride-tab {
  padding-top: 0;
  padding-bottom: 0;
}

.trip-separator {
  margin-top: 0.5em;
  font-size: 110%;
  font-weight: bold;
}

#main-content {
  padding-right: 0;
  margin-right: -15px;
}

#map-interactions, #find-event, #create-event {
  padding-right: 0;
}

#map-interactions {
  overflow-y: auto;
}

.bottom-padded {
  padding-bottom: 10px;
}

.event-search-title {
  font-weight: bold;
}

.event-search-downlight {
  opacity: 0.8
}

.event-search-entry {
  border-bottom: 1px solid #ccc;
}