!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hitchme3
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://fonts.googleapis.com/css?family=Titillium+Web" , rel: "stylesheet"}
  %body
    %nav{class: 'navbar navbar-inverse'}
      %div{class: 'container-fluid'}
        %div{class: 'navbar-header'}
          %button{type: 'button', class: 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '#profile-navbar'}
            %span{class: 'icon-bar'}
            %span{class: 'icon-bar'}
            %span{class: 'icon-bar'}
          %a{class: 'navbar-brand', href: '#'} Hitch.Me

        %div{class: 'collapse navbar-collapse', id: 'profile-navbar'}
          %ul{class: 'nav navbar-nav navbar-right'}
            %li
              %a{href: '#', id: 'fb-login'} Sign In
            %li{id: 'profile-button'}
              %a{href: '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                %span{id: 'profile-name'}
                %span{class: 'caret'}
              %ul{class: 'dropdown-menu'}
                %li{class: 'divider'}
                %li
                  %a{href: '#', id: 'profile-logout'} Sign Out
    = yield
